.header {
  background-color: rgb(237, 89, 89);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: aliceblue;
    margin-left: 10px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

.cart-div {
  color: #fff;
  float: right;
  margin: 20px;
  position: relative;
}

.cart-icon {
  padding: 10px;
}

.cart-item-count {
  position: absolute;
  background-color: rgb(146, 96, 247);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
}
